@font-face{
    font-family: "CinzelDecorative-Regular"; 
    src: url('fonts/CinzelDecorative-Regular.otf');
}
@font-face{
    font-family: 'CinzelDecorative-Black';
    src: url('fonts/CinzelDecorative-Black.otf');
}
@font-face{
    font-family: 'CinzelDecorative-Bold';
    src: url("fonts/CinzelDecorative-Bold.otf");
}
@font-face{
    font-family: 'Amiri Slanted';
    src: url('fonts/Amiriitalic.ttf');
}
@font-face{
    font-family: 'Amiri Regular';
    src: url('fonts/Amiri-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    padding: 0;
    margin: 0;
}
.head{
    width: 100%;
    height: 1175px;
    text-align: center;
    padding-top: 121px;
    background-color: #1a1c0f;
    background-image: url('Images/Photo-head.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    opacity: 1;
}
.logo{
    width: 100%;
    height: 162px;
    background-image: url('Images/Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.head__title{
    font-family: "CinzelDecorative-Black", serif;
    font-size: 3.75rem;
    line-height: 60px;
    color: #ffffff;
}
.title_text{
    margin-top: 200px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    
}
.title_text::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 242px;
    height: 4px;
    margin-left: 17px;
    background-color:#cdb378;
    position: relative;
}
.title_text::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 242px;
    height: 4px;
    margin-right: 17px;
    background-color: #cdb378;
    position: relative;
}
.head__text{
    font-family: "CinzelDecorative-Regular", serif;
    font-size: 2.25rem;
    color: #ffffff;
    line-height: 60px;
    font-weight: normal;
}
.head__subtext{
    font-family: 'Amiri Slanted', serif;
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 38px;
    color: #cdb378;
}
.lower_text{
    font-size: 1rem;
    line-height: 29px;
    margin-top: 335px;
}
.arrow {
    position: relative;
}
.arrow::before,
.arrow::after {
    content: "";
    width: 10px;
    height: 15px;
    
    position: absolute;
}
.arrow::before{
    border-right: 2px solid #cdb378;
    padding-left: 3px;
    transform: rotate(45deg);
    
}
  .arrow::after{
    border-left: 2px solid #cdb378;
    padding-right: 3px;
    transform: rotate(-45deg);
}