@font-face{
    font-family: "CinzelDecorative-Regular"; 
    src: url('fonts/CinzelDecorative-Regular.otf');
}
@font-face{
    font-family: 'CinzelDecorative-Black';
    src: url('fonts/CinzelDecorative-Black.otf');
}
@font-face{
    font-family: 'CinzelDecorative-Bold';
    src: url("fonts/CinzelDecorative-Bold.otf");
}
@font-face{
    font-family: 'Amiri Slanted';
    src: url('fonts/Amiriitalic.ttf');
}
@font-face{
    font-family: 'Amiri Regular';
    src: url('fonts/Amiri-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
    
}
.head{
    width: 100%;
    height: 1175px;
    text-align: center;
    padding-top: 121px;
    background-color: rgb(26,28,15);
    background-image: url('Images/Photo-head.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    
}
.logo{
    width: 100%;
    height: 162px;
    background-image: url('Images/Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.head__title{
    font-family: "CinzelDecorative-Black", serif;
    font-size: 3.75rem;
    line-height: 60px;
    color: #ffffff;
}
.title__text{
    display: inline-block;
    position: relative;
    margin-top: 200px;
    
    
}
.title__text::before,
.title__text::after {
   content: "";
   position: absolute;
  }
  .title__text::before {
    border-top: 4px solid #cdb378;
    width: 242px;
    top: 25px;
    left: 195px;
   }
  .title__text::after{
    border-bottom: 4px solid #cdb378;
    width: 242px;
    top: 25px;
    right: 195px;
  }


.head__text{
    font-family: "CinzelDecorative-Regular", serif;
    font-size: 2.25rem;
    color: #ffffff;
    line-height: 60px;
    font-weight: normal;
}
.head__subtext{
    font-family: 'Amiri Slanted', serif;
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 38px;
    color: #cdb378;
}
.lower_text{
    font-size: 1rem;
    line-height: 29px;
    margin-top: 335px;
}
.arrow {
    position: relative;
}
.arrow::before,
.arrow::after {
    content: "";
    width: 10px;
    height: 15px;
    
    position: absolute;
}
.arrow::before{
    border-right: 2px solid #cdb378;
    padding-left: 3px;
    transform: rotate(45deg);
    
}
  .arrow::after{
    border-left: 2px solid #cdb378;
    padding-right: 3px;
    transform: rotate(-45deg);
}
.main{
    width: 100%;
    height: 1671px;
    background:rgb(26,28,15);
    border-top: 1px solid transparent;
    z-index:10000;
    
    
}
.article{
    width: 100%;
    height: 100%;
    margin-top: -160px;
    z-index:200;
    padding-top: 20px;
    
    background: url('images/Photo-boy.png') no-repeat top right;
    background-size: 589px 633px;
}
.top__article{
    padding-top: 116px;
    padding-left: 215px;
}

.lower__article{
    width: 100%;
    height: 493px;
    background: url('images/Box-bg-text.png') no-repeat bottom left;
    background-size: 1873px auto;
    
    margin-top: 150px;
    padding-top: 104px;
    padding-left: 215px;
    opacity: 1;
}
.main_text{
    font-size: 4.5rem;
}
.main_text-top{
    font-size: 4.5rem;
    color: #cdb378;
}
.main__subtext{
    font-family: "Amiri Regular", serif;
    font-size: 1.5rem;
    line-height: 48.01px;
}
.subtext_top{
    padding-top: 25px;
    color:#cdb378;
}
.subtext_lower{
    width: 896px;
    height: 78px;
    padding-top: 61px;
    color:#abb190;
}
.but{
    width: 224px;
    height: 57px;
    cursor: pointer;
    font-family: "Amiri Regular", serif;
    font-size: 1rem;
    line-height: 48.01px;
    color: #ffffff;
    background: #272a18;
    border: none;
    outline: 2px solid #404429;
}
.but_line{
    margin-top: 60px;
}